body {
    color: blue;
}
#addName{
	  margin-top: 100px;
	 margin-left: 350px;
	 font-family: "Times New Roman", Times, serif;
}
#Submit{

		margin-left: 30px;
		background-color: #4CAF50; /* Green */
    	border: none;
    	color: red;  
}

#button1{

	  font-family: "Times New Roman", Times, serif;
	  margin-left: 790px;
}
#mydelte{

	  margin-left: 600px;
	  font-family: "Times New Roman", Times, serif;
}
#delete1{
	 margin-left: 30px;
	 font-family: "Times New Roman", Times, serif;
}
#mytable {

    
      margin-left: 350px;
}
#table1{
	  margin-right: 1500px;
      margin-left: 800px;
}