<head>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/test.js"></script>
</head>

<h1>Twitter app</h1>
<h1>I am the <%=what%> template</h1>
<h1>I am the <%=test%> template</h1>
<h1>I am the <%=ver%> </h1>
<div id="product" style="margin-bottom:20px">Product


	
</div>

<p>please enter you search term:</p>
<form action="/search" method="Get">
<input type="text" name="q">
<button>Search</button>
</form>